<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721502170664-q73g6shpu43f8npaebp1r1qj6276ra44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721502170664-q73g6shpu43f8npaebp1r1qj6276ra44</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Usexc2Ux-tu8ygC7tmIdgoGfvFYo9j0</string>
	<key>GCM_SENDER_ID</key>
	<string>721502170664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safeApps</string>
	<key>PROJECT_ID</key>
	<string>safe-apps-firebase-db</string>
	<key>STORAGE_BUCKET</key>
	<string>safe-apps-firebase-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721502170664:ios:58ade523c4dfc4d2260f1d</string>
</dict>
</plist>